@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

/*********************************************/
/*                 resets                    */
/*********************************************/


body {
  margin: 0;
  padding: 0;
  background-color: #000
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}




/*********************************************/
/*              body and scroll              */
/*********************************************/


body {
  background: url('../assets/shutterstock_1534240883.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 95vh;
}

main {
  background-image: url('../assets/15137538271897643057blank-scroll-wallpaper.hi.png');
  background-repeat: no-repeat;
  background-size: 46vw 80vh;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 46vw;
  margin: -2vh auto 15vh auto;
}




/*********************************************/
/*            displayed text on scroll       */
/*********************************************/


.title {
  height: 30vh;
  width: 22vw;
  margin: 7vh auto 0 auto;
}

#notifications {
  color: red;
}

#items {
  color: blue;
}

article {
  height: 30vh;
  width: 28vw;
  margin: 0 auto auto 10vw;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 1.8rem;
  overflow: hidden;
  overflow-y: scroll;
  /* used to remove scrollbar in IE 11 */
  -ms-overflow-style: none;
  /* used to remove scrollbar in Firefox 64 */
  scrollbar-width: none;
}

/* removal of scroll bar to make it look like more like the text is writen on the scroll */
article::-webkit-scrollbar {
  display: none;
}




/*********************************************/
/*               navigation panel            */
/*********************************************/


nav {
  background-image: url('../assets/rTLnpe6jc.png');
  background-size: 8vw 12vh;
  background-repeat: no-repeat;
  background-position: center;
  height: 19vh;
  width: 20vw;
  margin: -18.5vh auto;
  background-color: rgba(245, 245, 220, 1);
  border-radius: 20px;
  box-shadow: inset -6px -6px 8px black;
}

ul {
  display: grid;
  grid-template-columns: 6vw 8vw 6vw;
  grid-template-rows: 3vh 12vh 3vh;
}

a {
  color: brown;
  text-decoration: none;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2vw;
}

nav li a:hover {
  color: white;
}

span {
  text-decoration: underline;
}

/* navagation panel items */
.compass {
  font-family: 'Dancing Script', cursive;
}

#inventory {
  grid-area: 1/1;
  justify-self: end;
  align-self: end;
}

#attack {
  grid-area: 1/3;
  justify-self: start;
  align-self: end;
}

#pickUp {
  grid-area: 3/1;
  justify-self: end;
  align-self: start;
}

#use {
  grid-area: 3/3;
  justify-self: start;
  align-self: start;
}

/* compass directions */
#north {
  grid-area: 1 / 2;
  justify-self: center;
  align-self: end;
}

#east {
  grid-area: 2/3;
  justify-self: start;
  align-self: center;
}

#south {
  grid-area: 3/2;
  justify-self: center;
  align-self: center;
}

#west {
  grid-area: 2/1;
  justify-self: end;
  align-self: center;
}




/*********************************************/
/*         End of demo display box           */
/*********************************************/


#end {
  display: none;
  position: absolute;
  margin: -10vh auto;
  padding: 2vh 4vw;
  height: 20vh;
  width:20vw;
  background-color: aliceblue;
  border-radius: 20px;
  border: 2px solid gold;
  box-shadow: 3px 3px 6px black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5vw;
}




/*********************************************/
/*                   Footer                  */
/*********************************************/


footer {
  position: fixed;
  bottom: 0px;
  height: 4vh;
  width: 100vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  background-color: #000;
  color: whitesmoke;
}

footer a {
  color: whitesmoke;
  text-decoration: underline;
}

footer ul {
  display: flex;
  justify-content: center; 
}

footer li {
  margin-top: .5rem;
  font-size: .8rem;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
  width: 12rem;
}

.footerIcon {
  width: 5rem;
  font-size: .6rem;
}

i:hover {
  color:brown;
}




/*********************************************/
/*                For Mobile                 */
/*********************************************/

@media only screen and (max-width: 768px) {
  .title {
    height: 15vh;
    width: 44vw;
  }

  main {
    background-size: 90vw 70vh;
    height: 70vh;
    width: 90vw;
  }

  article {
    height: 36vh;
    width: 48vw;
    margin: -4vh auto;
    font-weight: bold;
    font-size: .8rem;
  }

  nav {
    background-size: 20vw 12vh;
    height: 19vh;
    width: 60vw;
  }

  ul {
    grid-template-columns: 18vw 24vw 18vw;
  }

  li {
    font-size: 3.5vw;
  }

  footer ul {
    justify-content: space-between; 
  }

}